*, *::before, *::after {
  margin: 0;
  outline 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #454040;
  color: #fff;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loader {
 border: 7.5px solid;
  height: 17.5rem;
  width: 17.5rem;
  border-radius: 100%;
  animation-name: pulse-ring;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulse-ring {
  0% {
    border-color: rgba(255, 255, 255, 0.5);
    transform: scale(1);
    box-shadow: 2px 2px 10px 0 #fffbfb, inset 2px 2px 10px #fffbfb;
  }
  25% {
    transform: scale(0.98);
    box-shadow: 2px 2px 10px 2.5px #fffbfb, inset 2px 2px 12px #fffbfb;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
    transform: scale(1);
    box-shadow: 2px 2px 10px 5px #fffbfb, inset 2px 2px 10px #fffbfb;
  }
  75% {
    transform: scale(0.98);
    box-shadow: 2px 2px 10px 2.5px #fffbfb, inset 2px 2px 12px #fffbfb;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.5);
    transform: scale(1);
    box-shadow: 2px 2px 10px 0 #fffbfb, inset 2px 2px 10px #fffbfb;
  }
}